<mat-card>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ticker</mat-label>
      <input type="text" placeholder="Pick one stock ticker" aria-label="Ticker" matInput [formControl]="autocomplete"
        [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectSymbol($event.option.value)">
        <mat-option *ngFor="let option of (filteredOptions | async)" [value]="option.description">
          <span>{{option.description}}</span> |
          <small>Currency: {{option.currency}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <button mat-button (click)="callApi()">Refresh</button>
</mat-card>
<app-stockcard [stock]="stock"></app-stockcard>

